.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
    column-gap: 30px;
    margin: 120px 70px;
}
.cart-container{
    padding: 20px;
    background-color: rgba(255, 153, 0, 0.3);
}